
footer.footer
    div(class="container py-4")
        div.row
        <div class="row">
            div(class="col-md-4 px-4")
                h5 About Us
                p.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum fugiat illo tenetur exercitationem vero nostrum temporibus recusandae est dolor molestiae, voluptates aliquam, reiciendis perferendis accusamus maxime voluptatibus eos. Omnis, quia.
            div(class="col-md-4 px-4")
                h5 Contact Us
                ul.list-unstyled
                    li Email: info@example.com
                    li Phone: +1233567890
                    li Address: 123 Street, City, Country
            div(class="col-md-4 px-4")
                h5 Follow Us 
                ul(class="list-inline footer-links")
                    li.list-inline-item
                        a(href="#")
                            i(class="fab fa-facebook")
                    li.list-inline-item
                        a(href="#")
                            i(class="fab fa-twitter")
                    li.list-inline-item
                        a(href="#")
                            i(class="fab fa-instagram")
                    li.list-inline-item
                        a(href="#")
                            i(class="fab fa-linkedin")

            hr
            .row 
                div(class="col-12 text-center")
                    p All rights reserved | &copy; 2024
