

extends layout 

block content 
    div(class="container py-4")
        div(class="row justify-content-center")
            div(class="col-md-6 col-sm-12")
                .card 
                    div(class="card-header text-center") Sign Up 
                    .card-body 
                        .my-4 
                            form(action="/user/register", method="POST")
                                .my-2
                                    label(for="email", class="form-label") Email 
                                    input(type="email", class="form-control", id="email", placeholder="Enter email", name="email")
                                .my-2
                                    label(for="username", class="form-label") Username 
                                    input(type="text", class="form-control", id="username", placeholder="Enter username", name="username")
                                .my-2
                                    label(for="fullname", class="form-label") Username 
                                    input(type="text", class="form-control", id="fullname", placeholder="Enter fullname", name="fullname")
                                .my-2
                                    label(for="pwd", class="form-label") Password
                                    input(type="password", class="form-control", id="pwd", placeholder="Enter password", name="pswd")
                                .my-2
                                    label(for="confpwd", class="form-label") Confirm Password
                                    input(type="password", class="form-control", id="confpwd", placeholder="Enter password", name="confpswd")
                                button(type="submit" class="btn btn-primary mt-4") Submit
