body {
  font-family: "Open Sans", sans-serif;
}

.blog-profile {
  margin-left: 18px;
}

.flash-errors {
  padding-top: 8px;
  padding-right: 32px;
}

.footer {
  background-color: #212529;
  color: #ffffff;
}
